<VirtualHost {{ inventory_hostname }}:80>
   ServerAdmin admin@molgenis.org
   
   ServerName {{ inventory_hostname }}
   ServerAlias {{ inventory_hostname }}

   RewriteEngine on
   RewriteCond %{SERVER_NAME} ={{ inventory_hostname }}
   RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [NE,R=permanent]
   
</VirtualHost>

<VirtualHost {{ inventory_hostname }}:443>

  ServerAdmin admin@molgenis.org

  ServerName {{ inventory_hostname }}
  ServerAlias {{ inventory_hostname }}

  ProxyRequests Off
  ProxyPreserveHost On

  ProxyPass / http://127.0.0.1:8080/
  ProxyPassReverse / http://127.0.0.1:8080/

  RequestHeader set X-Forwarded-Proto “https”

  SSLEngine On

  SSLCertificateFile /etc/pki/tls/certs/{{ inventory_hostname }}/certificate.crt
  SSLCertificateKeyFile /etc/pki/tls/certs/{{ inventory_hostname }}/private.key
  SSLCertificateChainFile /etc/pki/tls/certs/{{ inventory_hostname }}/serverchain.crt
</VirtualHost>
