{
  "name": "_identifiers",
  "defaultStorage": false,
  "usage": "STORAGE",
  "usedForIdentifiers": true,
  "sqlSettings": {
    "url": "jdbc:mysql://localhost:3306/opal_ids",
    "driverClass": "com.mysql.jdbc.Driver",
    "username": "{{ mysql.user.name }}",
    "password": "{{ mysql.user.password }}",
    "sqlSchema": "HIBERNATE"
  }
}