<VirtualHost {{ inventory_hostname }}:80>

  ServerAdmin admin@molgenis.org

  ServerName {{ inventory_hostname }}
  ServerAlias {{ inventory_hostname }}

  ProxyRequests Off
  ProxyPreserveHost On

  ProxyPass / http://127.0.0.1:8080/
  ProxyPassReverse / http://127.0.0.1:8080/

</VirtualHost>
