{
  "usedForIdentifiers": false,
  "name": "mysqldb",
  "usage": "STORAGE",
  "defaultStorage": true,
  "sqlSettings": {
    "url": "jdbc:mysql://localhost:3306/opal_data",
    "driverClass": "com.mysql.jdbc.Driver",
    "username": "{{ mysql.user.name }}",
    "password": "{{ mysql.user.password }}",
    "properties": "",
    "sqlSchema": "JDBC",
    "jdbcDatasourceSettings": {
      "defaultEntityType": "Participant",
      "defaultEntityIdColumnName": "opal_id",
      "defaultCreatedTimestampColumnName": "opal_created",
      "defaultUpdatedTimestampColumnName": "opal_updated",
      "useMetadataTables": true,
      "multipleDatasources": true,
      "batchSize": 100
    }
  }
}